airpress==1.0.3
asyncio==3.4.3
cryptography==39.0.1
commonmark==0.9.1
fastapi==0.111.1
Jinja2==3.1.4
passwordgenerator==1.5.1
pyOpenSSL==23.2.0
pydantic==2.8.2
pydantic_settings==2.3.4
python-dateutil==2.9.0.post0
python-jose==3.3.0
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
stripe==10.6.0
typing_extensions==4.12.2
uvicorn==0.30.3
python-keycloak==4.2.3
sentry_sdk==2.11.0
sqlmodel==0.0.21
alembic==1.13.2
google-api-python-client
google-auth
