airpress==1.0.3
asyncio==3.4.3
cryptography==39.0.1
commonmark==0.9.1
fastapi==0.111.0
Jinja2==3.1.4
openstacksdk==3.1.0
passwordgenerator==1.5.1
pyOpenSSL==23.2.0
pydantic==2.7.1
pydantic_settings==2.2.1
python-dateutil==2.9.0.post0
pre-commit==3.7.0
python-dotenv==1.0.1
python-jose==3.3.0
python-terraform==0.10.1
PyYAML==6.0.1
redis==5.0.4
requests==2.32.2
requests-oauthlib==2.0.0
semgrep==1.72.0
stripe==9.6.0
typing_extensions==4.11.0
uvicorn==0.29.0
virtualenv==20.26.1
httpx
pytest
sqlmodel
sentry_sdk
alembic
aiosqlite
