{% extends 'base.html' %}
{% block title %} Sign-Up Completed - Hack@UCF {% endblock %}
{% block content %}
<body>
    <div class="app" id="1">
        <h1>Sign-up Almost Complete!</h1>
        <div class="ico green"><i class="fa-solid fa-check"></i></div>
        <p>Once we get your dues payment and confirmed all the sign-up steps were completed, we will send you a confirmation message over Discord.</p>
        <p><b>We also require you to join us on KnightConnect.</b> Please click the link below and request to join. Do not worry if this takes time to process; it will not affect membership status.</p>
        <a class="btn" target="_blank" href="https://ucf.campuslabs.com/engage/organization/ucfccdc"><i class="fa-solid fa-chess-knight"></i> Finish at KnightConnect</a>
        <p>After this is done, you can check and edit your membership details at the My Membership page. You can also find your membership ID card there.</p>
        <a class="btn" href="/profile/"><i class="fa-solid fa-user"></i> My Membership</a>
        <p>If you have any concerns about your membership, please do not hesitate to contact <code>ops@hackucf.org</code>.</p>
    </div>
</body>
<script type="text/javascript" src="/static/form.js"></script>
{% endblock %}
