{% extends 'base.html' %}
{% block head %}
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block title %} Pay Dues - Hack@UCF {% endblock %}
{% block content %}


<body>
    {% include 'profile-header.html' %}
        </div>
        <div class="form">
            {% if paused_payments %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Dues payment is temporarily paused please check back later!
            </div>
            {% endif %}
            <h1>Pay Dues</h1>
            <p>Hack@UCF members get access to some very nice perks, some of which are pretty unique. With the help of membership dues and our sponsors, we are able to provide exclusive access to some cool resources and other benefits:</p>
            <ul>
                <li>Access to the Hack@UCF Private Cloud.</li>
                <li>Eligibility to vote in annual executive election as well as hold office (pending active participation and attendance).</li>
                <li>Food and drinks at select events at no cost.</li>
                <li>Access to members-only workshops and training material.</li>
                <li>Access to members-only hardware and resources, when available, including CyberLab workstations.</li>
                <li>Access to extended benefits such as Operations, Alumni networks, and hands-on infrastructure development.</li>
                <li>Access to the member-exclusive Minecraft server.</li>
                <li>A free t-shirt.</li>
            </ul>
            <p>While we highly recommend paying dues, they are not required for most of our events.</p>
            <p><i>Want to pay dues in person?</i> Press Skip and contact an Executive at our next event.</p>
            <div class="entry">
                <div>
                    <button type="button" class="btn wide grey" onclick="nav_to('/final')">Skip</button>
                </div>
                <div>
                    {% if paused_payments and not did_pay_dues %}
                    <h1>Dues Payment Paused</h1>
                    {% elif not paused_payments and not did_pay_dues %}
                    <form action="/pay/checkout/" method="GET">
                        <button type="submit" id="checkout-button" class="btn wide">Pay Dues</button>
                    </form>
                    {% elif did_pay_dues %}
                        <h1>Dues Already Paid</h1>
                    {% else %}
                        <h1>Please Pay in Person</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/form.js"></script>
{% endblock %}
